
# Node modules
backend/node_modules/
frontend/node_modules/

# React build
frontend/build/

# Environment files
.env
*.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.auto.tfvars
*.tfplan
crash.log
